html,body,div,input,table,p,h1,h2,h3,h4,h5,h6,tr,td,img,ul,li{
  margin:0;
  padding:0;
}
.screenCanna{
  width:100%;
  height:100%;
  background-color:#f0f0f0;
}
.headerBackground{
  width:100%;
  height:120px;
  overflow:hidden;
  background:#fff url("../img/apply/regulatoryHomebackgroundPic.png") no-repeat center;
  background-size:cover;
}
.headerImgBox{
  width:100%;
  height:80%;
  padding:2% 0 0 1%;
  /* background:pink; */
}
.CIRCLogo{
  width:60px;
  vertical-align:middle;
  padding-right:.1%;
}
.headerTitle{
  padding-top:1%;
  font-size:20px;
  font-weight:500;
  color:#fff;
  font-family:'microsoft yahei';
}
.headerTitle p{
  margin-bottom:0;
}
.headerTitle span{
  font-size:12px;
  font-weight:700;
  padding-top:0;
}

.mainContainer{
  width:100%;
  height:511px;
  background:#f5f5f5;
} 
/* 去除主体部分左边距 */
.row-fluid [class*="span"]{
  margin-left:1%;
}

.sideNavBar{
  background-color:#fff;
  height:100%;
}
.userImg{
  display:block;
  width:50px;
  height:50px;
  line-height:50px;
  background:hotpink url('../img/glyphicons-halflings.png') no-repeat 166px 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/glyphicons-halflings.png', sizingMethod='scale')";
  background-size:100% 100%;
  border-radius:50%;

}
.userInfomation i {
  margin-left:20%;
}
.userInfomation{
  padding:5% 0;
  overflow:hidden;
  border-bottom:1px solid aliceblue;
  font-size:12px;
  color:#999;
  font-weight:200;
}
.userInfomationRight{
  padding-right:2%;
}
.userInfomation h6{
  margin-bottom:5px;
  font-size:14px;
  color:#000;
  font-weight:bolder;
}
/* 去除侧边栏左右的边框 */
.sideNavBar .accordion-group{
  /* border-left:1px solid transparent;
  border-right:1px solid transparent; */
  border:1px solid transparent;
  font-size:12px;
  font-weight:500;
  color:#ccc;
}
.sideNavBar .accordion-group a{
  color:#555;
  font-family:'microsoft yahei';
  text-decoration:none;
}
.accordion-inner {
  border-top:1px solid transparent;
}
/*/ 去除侧边栏左右的边框 */
.mainContainerShow{
  background:#fff;
}
.breadcrumbbackgroundColor{
  background:aliceblue;
  
}
/* 右侧主体部分背景色 */
.mainContainerBackGroundColor{
  width:100%;
  height:510px;
  background:#fff;
}
/*  */
.tabbableBoxPaddingLeft{
  padding-left:1.2%;
}
.footerBox{
  width:100%;
  height:120px;
  padding:1% 0;
  overflow:hidden;
  font-size:12px;
  color:#e4e4e4;
  font-size:300;
  font-family:'microsoft yahei';
  background:#2d79f3;
}
.footerLeft{
  width:100%;
  height:100%;
  padding-left:2%;
  overflow:hidden;
  /* background:pink; */
}
.footerLeft span{
  font-size:12px;
  color:#fff;
  font-weight:300;
  font-family:"microsoft yahei";
}
.footerLeft span a{
  padding:0 1%;
  text-decoration:none;
  color:#FFF;
}
.foterBoxHelpLinks span{
  font-size:14px;
  font-weight:bold;
}
.footerfRight{
  width:100%;
  height:120px;
  line-height:120px;
  /* background:yellow; */
}
.footerfRight img{
  width:80px;
}
.footerBoxWebsits span{
  padding-right:1%;
}